body {
    color:green;
    background: black;
}

i {
    color:red;
}


#flash-card {
    padding:10px;
    border: 1px solid grey;
    width:100%;
    max-width: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: ease-in-out 0.5s;
    
}

.flip-card {
    transform:rotateY(180deg);
}

#flash-card span {
    font-size: 1em;
}

#flash-card i {
    position: absolute;
    top:5px;
    right:5px;
}

.input-wrap button {
    width:200px;
}

.message {
    font-size:1em;
}

.input-wrap {
    margin-top:25px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#guess-form {
    display:flex;
    flex-direction: row;
    justify-content: stretch;
    
}

#guess-form input {
    color: green;
    background: black;
    width:50%;
    box-sizing: border-box;
 }

    li {
     cursor: pointer;
     border: 1px solid lightgrey;
     list-style: none;
     text-align: center;
 }

 li i {
     padding-left: 10px;
 }

 li .delete {
     float: right;
 }

 #description {
     resize:none;
 }

 .deck-page {
     position: absolute;
     z-index: 9999;
     top:0;
     width:100%;
     height:100vh;
     background-color: black;
     transform: translateY(-200%);
 }

 .show-page {
     transform: translateY(0);
     transition: ease-in-out 1s;
 }

 .close-btn {
     position: absolute;
     top:5px;
     right:5px;

 }

 .main-deck-list {
     min-height: 200px;
 }

 .card-list {
    min-height: 200px;
}
